<section id="single-page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single-page-header-left">
            <h2>Service</h2>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="single-page-header-right">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Service</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="col-md-12">
    <p> <b>MentDoc </b> is an integrated medical web based application suite for mental health professionals. The services catered by MentDoc have been designed solely for different mental health professionals like neurologists, psychiatrists, clinical psychologists and other allied professionals.

      Features include practice management, electronic health records, patient engagement, and diagnosis and treatment management that all work together to automate practice workflow.
      
      MentDoc was initiated keeping in mind the Mandation brought by the Mental Healthcare Bill, 2017 which aims to enhance the scope of services of Psychiatrists and Psychologists.
      
      MentDoc will keep in mind the right to access basic medical records mandation by Mental Healthcare Bill, 2017(A person with mental illness shall entitled to receive documented medical information, pertaining to his diagnosis, investigation, assessment and treatment as per the medical record) that will help mental health professionals to keep their records secure and safe in accordance with the mental healthcare bill, 2017.
      
      </p>
  </div>
  <h2 style="color: black"> <u>Digital Prescription using MentDoc-</u> </h2>
  <div class="col-md-12">
    <p>In place of written and faxed prescriptions, it is advisable to go for computer-based electronic prescription generation, transmission and filling of a medical prescription. Digital Prescription or E-prescribing allows a medical representative to electronically transmit new prescriptions or renew authorization to individuals or pharmacies.

      It emphasizes on the ability to send precise and understandable prescriptions electronically from the healthcare provider to the customer or reseller.
      
      E-prescribing mitigates the risks associated with conventional prescription script writing. It is also is crucial in storage of soft copies of medical records on a server or on the cloud.By sharing prescription information, electronic prescribing seeks to connect the patient's team of healthcare professionals to expeditiously promote decision making.
      
      Doctors can prescribe medication using MentDoc and forward an e-prescription. The e-prescription will be immediately accessible in the partner pharmacy thus making the whole process much easier and quicker.
      </p>
  </div>
  <h2 style="color: black"> <u>EHR Management through MentDoc-</u> </h2>
  <div>
    <p>An Electronic Health Record (EHR) is a digital version of a patient's summaries and records. EHRs are patient-oriented records that facilitate an authorized professional a quick and secure access to information.

      EHRs in addition to the above can:
      
    </p>
    
  </div>
</section>
