<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<!-- BEGAIN PRELOADER -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
<!-- 
<app-login-header></app-login-header> -->

<!-- BEGIN MENU -->
<app-header1></app-header1>
<!-- END MENU --> 

<router-outlet></router-outlet>

<!-- Start footer -->
<app-footer></app-footer>
<!-- End footer -->  
</body>
</html>