<!-- Start slider -->
<app-slider1></app-slider1>
<!-- End slider -->

<!-- Start Feature -->
<app-feature></app-feature>
<!-- End Feature -->

<!-- Start about  -->
<app-about></app-about>
<!-- end about -->

<!-- Start counter -->
<app-counter></app-counter>
<!-- End counter -->


<!-- Start Service -->
<app-services></app-services>
<!-- End Service -->

<!-- Start Pricing table -->
<app-price-table></app-price-table>
<!-- End Pricing table -->  

<!-- Start Pricing table -->
<app-team></app-team>
<!-- End Pricing table -->

<!-- Start Testimonial section -->
<app-price-testimonial></app-price-testimonial>
<!-- End Testimonial section -->

<!-- Start Clients brand -->
<app-client-card></app-client-card>
<!-- End Clients brand -->

<!-- Start latest news -->
<app-news></app-news>
<!-- End latest news -->

<!-- Start subscribe us -->
<app-newslatter></app-newslatter>
<!-- End subscribe us -->